<!DOCTYPE html>
<html>
    <head>
        <title>YouTube to mp3 Converter</title>
        <style>
            h1 {
                text-align: center
            }
            #cover{
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: 70% 30%;
            }
            #container {
                max-width: 720px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1>YouTube to mp3 Converter</h1>
            <img id="cover" src="https://youtube2mp3.katiehuang9.repl.co/static/cover.jpg">
            <p>
                Enter the URL of the YouTube video you want to download and hit Go.
            </p>
        </div>
    </body>
</html>